@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@700&display=swap');

body {
  background-color: black;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto repeat(19, 1fr);
  grid-template-columns: 5% 1fr 5% 1fr 5%;
  place-items: center;
}

.gridItem {
  color: white;
  font-family: 'Arvo', serif;
}

.level {
  grid-column: 2;
}

.cost {
  grid-column: 4;
}

#title {
  font-family: 'Roboto', sans-serif;
  font-size: 36pt;
  grid-row: 1;
  grid-column: 1 / span 5;
}